*.orig
*.pyc
*~

*.sqlite

dist/
_build/
.idea
.coverage
.tox

*.egg-info

*zip
*tar.gz
*.sqlite3
media/
node_modules
*.7z
*.csv
*.db
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
